// Colors 

$background: #F4F1EB;
$pink: #DED4C9;
$black-paragraph: rgb(47, 47, 47);

// Mixins

@mixin button-regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid $black-paragraph 1px;
    padding: 2rem 4rem;
    border-radius: 50%;
    cursor: pointer;
}

@mixin h1-styling {
    font-family: 'feliz';
    font-size: 4rem;
    text-align: center;
}

// Procedure description styling

.procedure-description {
    background-color: $background;
    padding-top: 10rem;

    .procedures-wrapper {
        display: flex;
        justify-content: flex-start;
        gap: 20rem;

        .img-container {
            width: 48%; height: 100rem;
            position: relative;

            img {
                width: 100%; height: 100%;
                object-fit: cover;
            }

            .stripe {
                background-color: $background;
                height: 100%;
                width: 5%;

                position: absolute;
                top: 0; left: 15%;
            }
        }

        .text-container {
            width: 60rem;

            h2 {
                @include h1-styling();
                text-align: left;
                font-size: 5.2rem;
            }

            p {
                margin-top: 8rem;
                font-size: 2rem;
                text-align: justify;
                font-family: 'rotunda-light';
            }

            .procedures-container {
                margin-top: 6rem;

                .single-procedure-container {
                    cursor: pointer;
                    margin-top: 3rem;

                    .header-and-arrow {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h4 {
                            font-size: 4rem;
                            font-family: 'feliz';
                        }

                        i {
                            font-size: 2rem;
                        }

                        .rotate {
                            transform: rotate(180deg);
                        }
                    }

                    .procedures {
                        display: flex;
                        flex-direction: column;

                        a {
                            font-size: 1.6rem;
                            margin-top: 2.5rem;
                            font-family: 'rotunda-light';
                        }
                    }

                    .display {
                        display: none;
                    }
                }
            }
        }
    }
}

.contact {
    background-color: $background;
    padding-top: 10rem;

    .text-container {
        width: 50vw;
        margin: 0 auto;

        h2 {
            @include h1-styling();
        }
    
        p {
            margin-top: 5rem;
            font-size: 2rem;
            font-family: "rotunda-light";
            text-align: center;
        }
    
        .button-regular {
            margin-top: 4rem;
            @include button-regular();
            font-family: 'rotunda-light';
        }
    }
}

.other-categories {
    background-color: $background;

    .header-container {
        padding-top: 16rem;
        padding-bottom: 8rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10rem;

        h4 {
            font-size: 3.2rem;
            font-family: 'feliz';
        }

        .line {
            width: 70vw;
            height: 1px;
            background-color: $black-paragraph;
        }
    }
}

// Media query 

@media (max-width: 1499px) {

    // Procedure description styling

    .procedure-description {
        padding-top: 10rem;

        .procedures-wrapper {
            gap: 10rem;

            .img-container {
                width: 48%; height: 72rem;

                .stripe {
                    top: 0; left: 15%;
                }
            }

            .text-container {
                width: 54rem;

                h2 {
                    @include h1-styling();
                    text-align: left;
                    font-size: 4.2rem;
                }

                p {
                    margin-top: 5rem;
                    font-size: 1.6rem;
                }

                .procedures-container {
                    margin-top: 4rem;

                    .single-procedure-container {
                        margin-top: 3rem;

                        .header-and-arrow {
                            h4 {
                                font-size: 3rem;
                            }

                            i {
                                font-size: 1.6rem;
                            }

                            .rotate {
                                transform: rotate(180deg);
                            }
                        }

                        .procedures {
                            a {
                                font-size: 1.6rem;
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .other-categories {
        .header-container {
            padding-top: 14rem;
            padding-bottom: 7rem;
            gap: 7rem;
    
            h4 {
                font-size: 3.2rem;
            }
    
            .line {
                width: 65vw;
                height: 1px;
            }
        }
    }
}

@media (max-width: 1024px) {

    // Procedure description styling

    .procedure-description {
        padding-top: 10rem;

        .procedures-wrapper {
            flex-direction: column-reverse;
            gap: 10rem;

            .img-container {
                width: 100%; height: 72rem;

                .stripe {
                    top: 0; left: 15%;
                }
            }

            .text-container {
                margin: 0 auto;
                width: 90vw;

                h2 {
                    @include h1-styling();
                    text-align: left;
                    font-size: 4.2rem;
                }

                p {
                    margin-top: 5rem;
                    font-size: 1.6rem;
                }

                .procedures-container {
                    margin-top: 4rem;

                    .single-procedure-container {
                        margin-top: 3rem;

                        .header-and-arrow {
                            h4 {
                                font-size: 3rem;
                            }

                            i {
                                font-size: 1.6rem;
                            }

                            .rotate {
                                transform: rotate(180deg);
                            }
                        }

                        .procedures {
                            a {
                                font-size: 1.6rem;
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding-top: 10rem;
    
        .text-container {
            width: 70vw;
            margin: 0 auto;
    
            h2 {
                @include h1-styling();
            }
        
            p {
                margin-top: 5rem;
                font-size: 2rem;
                font-family: "rotunda-light";
                text-align: center;
            }
        
            .button-regular {
                margin-top: 4rem;
                @include button-regular();
                font-family: 'rotunda-light';
            }
        }
    }

    .other-categories {
        .header-container {
            padding-top: 14rem;
            padding-bottom: 7rem;
            gap: 4rem;
    
            h4 {
                font-size: 2.6rem;
            }
    
            .line {
                width: 55vw;
                height: 1px;
            }
        }
    }
}

@media (max-width: 599px) {

    // Procedure description styling

    .procedure-description {
        padding-top: 5rem;

        .procedures-wrapper {
            flex-direction: column-reverse;
            gap: 6rem;

            .img-container {
                width: 100%; height: 55rem;

                .stripe {
                    top: 0; left: 15%;
                }
            }

            .text-container {
                margin: 0 auto;
                width: 90vw;

                h2 {
                    @include h1-styling();
                    text-align: left;
                    font-size: 3.5rem;
                }

                p {
                    margin-top: 5rem;
                    font-size: 1.6rem;
                }

                .procedures-container {
                    margin-top: 4rem;

                    .single-procedure-container {
                        margin-top: 3rem;

                        .header-and-arrow {
                            h4 {
                                font-size: 2.8rem;
                            }

                            i {
                                font-size: 1.6rem;
                            }

                            .rotate {
                                transform: rotate(180deg);
                            }
                        }

                        .procedures {
                            a {
                                font-size: 1.6rem;
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        padding-top: 7rem;
    
        .text-container {
            width: 90vw;
            margin: 0 auto;
    
            h2 {
                font-size: 3.2rem;
            }
        
            p {
                margin-top: 5rem;
                font-size: 1.6rem;
            }
        
            .button-regular {
                margin-top: 5rem;
            }
        }
    }

    .other-categories {
        .header-container {
            padding-top: 12rem;
            padding-bottom: 4rem;
            gap: 4rem;
            justify-content: center;
    
            h4 {
                font-size: 2.8rem;
            }
    
            .line {
                display: none;
            }
        }
    }
}



