.procedure-desc .img-container {
  margin: 10rem 0;
  width: 100vw;
  height: 62rem;
  position: relative;
}
.procedure-desc .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.procedure-desc .img-container .stripe {
  background-color: #F4F1EB;
  height: 100%;
  width: 4%;
  position: absolute;
  top: 0;
  left: 25%;
}
.procedure-desc .good-to-know h2.name {
  margin: 15rem 0;
  font-family: "feliz";
  font-size: 4rem;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.procedure-desc .good-to-know .wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  gap: 4rem;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.procedure-desc .good-to-know .wrapper p {
  font-size: 2.1rem;
  font-family: "rotunda-light";
  color: rgb(47, 47, 47);
  padding: 3rem 0;
}
.procedure-desc .good-to-know .wrapper p .bold {
  font-family: "rotunda-regular";
  color: rgb(47, 47, 47);
}
.procedure-desc .recomendations {
  margin-top: 10rem;
}
.procedure-desc .recomendations p {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
}
.procedure-desc .recomendations .text-container {
  width: 60vw;
  margin: 0 auto;
}
.procedure-desc .recomendations .text-container p {
  font-size: 1.8rem;
  text-align: center;
}
.procedure-desc .recomendations .wrapper {
  padding-top: 8rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}
.procedure-desc .recomendations .wrapper .column {
  margin-top: 6rem;
  width: 30vw;
}
.procedure-desc .recomendations .wrapper .column h1 {
  font-family: "feliz";
  font-size: 4rem;
  text-align: center;
  text-align: left;
  font-family: "feliz";
  font-weight: 600;
  font-size: 4.5rem;
  margin-bottom: 10rem;
}
.procedure-desc .recomendations .wrapper .column p {
  font-family: "rotunda-light";
  font-size: 2.2rem;
  line-height: 150%;
  max-width: 26vw;
  text-align: left;
}
.procedure-desc .recomendations .wrapper .one {
  padding-right: 14rem;
  border-right: black solid 1px;
}
.procedure-desc .recomendations .wrapper .two {
  padding-left: 14rem;
}
.procedure-desc .recomendations .button-container .wrapper {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.procedure-desc .recomendations .button-container .wrapper a .button-regular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid rgb(47, 47, 47) 1px;
  padding: 2rem 4rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
}
.procedure-desc .faq .wrapper {
  max-width: 80vw;
  margin: 10rem auto 20rem auto;
}
.procedure-desc .faq .wrapper h1 {
  font-family: "feliz";
  font-size: 4rem;
  text-align: center;
  text-align: left;
  font-family: "feliz";
  font-size: 6rem;
  margin-bottom: 4rem;
}
.procedure-desc .faq .wrapper .question {
  margin-bottom: 4rem;
  border-bottom: 1px rgb(47, 47, 47) solid;
  padding-bottom: 6rem;
}
.procedure-desc .faq .wrapper .question .question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.procedure-desc .faq .wrapper .question .question-title h2 {
  font-family: "feliz";
  font-size: 4rem;
  text-align: center;
  font-size: 2.8rem;
  font-family: "rotunda-regular";
}
.procedure-desc .faq .wrapper .question .question-text p {
  font-family: "rotunda-light";
  font-size: 2.4rem;
}

.other-categories {
  background-color: #F4F1EB;
}
.other-categories .header-container {
  padding-top: 6rem;
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10rem;
}
.other-categories .header-container h4 {
  font-size: 3.2rem;
  font-family: "feliz";
}
.other-categories .header-container .line {
  width: 70vw;
  height: 1px;
  background-color: rgb(47, 47, 47);
}

@media (max-width: 1499px) {
  .procedure-desc .img-container {
    margin: 10rem 0;
    width: 100vw;
    height: 50rem;
  }
  .procedure-desc .img-container .stripe {
    width: 4%;
    top: 0;
    left: 25%;
  }
  .procedure-desc .good-to-know h2.name {
    margin: 10rem 0;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  .procedure-desc .good-to-know .wrapper {
    width: 100vw;
    gap: 4rem;
  }
  .procedure-desc .good-to-know .wrapper p {
    font-size: 1.6rem;
    padding: 3rem 0;
  }
  .procedure-desc .recomendations {
    margin-top: 10rem;
  }
  .procedure-desc .recomendations .text-container {
    width: 64vw;
    margin: 0 auto;
  }
  .procedure-desc .recomendations .text-container p {
    font-size: 1.6rem;
    text-align: center;
  }
  .procedure-desc .recomendations .wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  .procedure-desc .recomendations .wrapper .column {
    margin-top: 6rem;
    width: 30vw;
  }
  .procedure-desc .recomendations .wrapper .column h1 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    text-align: left;
    font-family: "feliz";
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 6rem;
  }
  .procedure-desc .recomendations .wrapper .column p {
    font-family: "rotunda-light";
    font-size: 1.7rem;
    line-height: 150%;
    max-width: 26vw;
    text-align: left;
  }
  .procedure-desc .recomendations .wrapper .one {
    padding-right: 12rem;
    border-right: black solid 1px;
  }
  .procedure-desc .recomendations .wrapper .two {
    padding-left: 12rem;
  }
  .procedure-desc .recomendations .button-container .wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
  .procedure-desc .recomendations .button-container .wrapper a .button-regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(47, 47, 47) 1px;
    padding: 2rem 4rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
  }
  .procedure-desc .faq .wrapper {
    max-width: 80vw;
    margin: 10rem auto 20rem auto;
  }
  .procedure-desc .faq .wrapper h1 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    text-align: left;
    font-family: "feliz";
    font-size: 5rem;
    margin-bottom: 4rem;
  }
  .procedure-desc .faq .wrapper .question {
    margin-bottom: 4rem;
    border-bottom: 1px rgb(47, 47, 47) solid;
    padding-bottom: 6rem;
  }
  .procedure-desc .faq .wrapper .question .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  .procedure-desc .faq .wrapper .question .question-title h2 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    font-size: 2.2rem;
    font-family: "rotunda-regular";
  }
  .procedure-desc .faq .wrapper .question .question-text p {
    font-family: "rotunda-light";
    font-size: 2rem;
  }
  .other-categories .header-container {
    gap: 7rem;
  }
  .other-categories .header-container h4 {
    font-size: 3.2rem;
  }
  .other-categories .header-container .line {
    width: 65vw;
    height: 1px;
  }
}
@media (max-width: 1024px) {
  .procedure-desc .img-container {
    margin: 10rem 0;
    width: 100vw;
    height: 50rem;
  }
  .procedure-desc .img-container .stripe {
    width: 4%;
    top: 0;
    left: 25%;
  }
  .procedure-desc .good-to-know h2.name {
    margin: 10rem 0;
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
  }
  .procedure-desc .good-to-know .wrapper {
    width: 100vw;
    gap: 2rem;
  }
  .procedure-desc .good-to-know .wrapper p {
    font-size: 1.6rem;
    padding: 3rem 0;
  }
  .procedure-desc .recomendations {
    margin-top: 10rem;
  }
  .procedure-desc .recomendations .text-container {
    width: 80vw;
    margin: 0 auto;
  }
  .procedure-desc .recomendations .text-container p {
    font-size: 1.6rem;
    text-align: center;
  }
  .procedure-desc .recomendations .wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  .procedure-desc .recomendations .wrapper .column {
    margin-top: 6rem;
    width: 36vw;
  }
  .procedure-desc .recomendations .wrapper .column h1 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    text-align: left;
    font-family: "feliz";
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 6rem;
  }
  .procedure-desc .recomendations .wrapper .column p {
    font-family: "rotunda-light";
    font-size: 1.6rem;
    line-height: 150%;
    max-width: 26vw;
    text-align: left;
  }
  .procedure-desc .recomendations .wrapper .one {
    padding-right: 5rem;
    border-right: black solid 1px;
  }
  .procedure-desc .recomendations .wrapper .two {
    padding-left: 5rem;
  }
  .procedure-desc .recomendations .button-container .wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
  .procedure-desc .recomendations .button-container .wrapper a .button-regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(47, 47, 47) 1px;
    padding: 2rem 4rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
  }
  .procedure-desc .faq .wrapper {
    max-width: 80vw;
    margin: 10rem auto 20rem auto;
  }
  .procedure-desc .faq .wrapper h1 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    text-align: left;
    font-family: "feliz";
    font-size: 5rem;
    margin-bottom: 4rem;
  }
  .procedure-desc .faq .wrapper .question {
    margin-bottom: 4rem;
    border-bottom: 1px rgb(47, 47, 47) solid;
    padding-bottom: 6rem;
  }
  .procedure-desc .faq .wrapper .question .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  .procedure-desc .faq .wrapper .question .question-title h2 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    font-size: 2.2rem;
    font-family: "rotunda-regular";
  }
  .procedure-desc .faq .wrapper .question .question-text p {
    font-family: "rotunda-light";
    font-size: 2rem;
  }
  .other-categories .header-container {
    padding-top: 0;
    padding-bottom: 7rem;
    gap: 4rem;
  }
  .other-categories .header-container h4 {
    font-size: 2.6rem;
  }
  .other-categories .header-container .line {
    width: 55vw;
    height: 1px;
  }
}
@media (max-width: 599px) {
  .procedure-desc .img-container {
    margin: 2rem 0;
    width: 100vw;
    height: 53rem;
  }
  .procedure-desc .img-container .stripe {
    width: 10%;
    top: 0;
    left: 15%;
  }
  .procedure-desc .good-to-know h2.name {
    margin: 7rem 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  .procedure-desc .good-to-know .wrapper {
    width: 100vw;
    gap: 1rem;
    padding: 3rem 0;
  }
  .procedure-desc .good-to-know .wrapper p {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
  .procedure-desc .recomendations {
    margin-top: 6rem;
  }
  .procedure-desc .recomendations .text-container {
    width: 95vw;
    margin: 0 auto;
  }
  .procedure-desc .recomendations .text-container p {
    font-size: 1.6rem;
    text-align: center;
  }
  .procedure-desc .recomendations .wrapper {
    padding-top: 8rem;
    padding-bottom: 4rem;
    justify-content: center;
    flex-direction: column;
  }
  .procedure-desc .recomendations .wrapper .column {
    margin-top: 6rem;
    width: 92vw;
  }
  .procedure-desc .recomendations .wrapper .column h1 {
    font-family: "feliz";
    font-size: 4rem;
    text-align: center;
    text-align: center;
    font-family: "feliz";
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .procedure-desc .recomendations .wrapper .column p {
    font-family: "rotunda-light";
    font-size: 1.5rem;
    line-height: 150%;
    max-width: 100vw;
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  .procedure-desc .recomendations .wrapper .one {
    padding-right: 0;
    border-right: none;
  }
  .procedure-desc .recomendations .wrapper .two {
    padding-left: 0;
  }
  .procedure-desc .recomendations .button-container .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }
  .procedure-desc .recomendations .button-container .wrapper a .button-regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(47, 47, 47) 1px;
    padding: 2rem 4rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
  }
  .procedure-desc .faq .wrapper {
    max-width: 98vw;
    margin: 10rem 2rem 14rem;
  }
  .procedure-desc .faq .wrapper h1 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 4rem;
  }
  .procedure-desc .faq .wrapper .question {
    margin-bottom: 4rem;
    border-bottom: 1px rgb(47, 47, 47) solid;
    padding-bottom: 4rem;
  }
  .procedure-desc .faq .wrapper .question .question-title h2 {
    font-size: 1.9rem;
    margin-bottom: 0.2rem;
  }
  .procedure-desc .faq .wrapper .question .question-text p {
    font-size: 1.8rem;
  }
  .other-categories .header-container {
    padding-bottom: 4rem;
    gap: 4rem;
    justify-content: center;
  }
  .other-categories .header-container h4 {
    font-size: 2.8rem;
  }
  .other-categories .header-container .line {
    display: none;
  }
}/*# sourceMappingURL=zabieg.css.map */